
<html dir="rtl" lang="fa-IR">
<head>
<meta content="text/html; charset=ISO-8859-1"
http-equiv="content-type">
<title>سبد خرید شما</title>
</head>
<body>
<div style="text-align: center;">
<h4>بنام خدا</h4>
</div>
<div style="text-align: right;">
<p>فاکتور خرید کاربر: <span
style="color: rgb(51, 204, 0); font-weight: bold;">+++</span></p>
</div>
<table
style="text-align: left; width: 100%; margin-left: auto; margin-right: auto;"
border="1" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td
style="vertical-align: top; font-weight: bold; text-align: center;">
<p>جمع</p>
</td>
<td
style="vertical-align: top; font-weight: bold; text-align: center;">
<p>ناشر</p>
</td>
<td
style="vertical-align: top; font-weight: bold; text-align: center;">
<p>تعداد خرید</p>
</td>
<td
style="vertical-align: top; font-weight: bold; text-align: center;">
<p>قیمت با احتساب تخفیف</p>
</td>
<td
style="vertical-align: top; font-weight: bold; text-align: center;">
<p>تخفیف</p>
</td>
<td
style="vertical-align: top; font-weight: bold; text-align: center;">
<p>قیمت</p>
</td>
<td
style="vertical-align: top; font-weight: bold; text-align: center;">
<p>کد کالا</p>
</td>
<td
style="vertical-align: top; font-weight: bold; text-align: center;">
<p>نام کالا</p>
</td>
<td
style="vertical-align: top; font-weight: bold; text-align: center;">
<p>ردیف</p>
</td>
</tr>
<tr>
<td style="vertical-align: top; text-align: center;">+++<br>
</td>
<td style="vertical-align: top; text-align: center;">+++<br>
</td>
<td style="vertical-align: top; text-align: center;">+++<br>
</td>
<td style="vertical-align: top; text-align: center;">+++<br>
</td>
<td style="vertical-align: top; text-align: center;">+++<br>
</td>
<td style="vertical-align: top; text-align: center;">+++<br>
</td>
<td style="vertical-align: top; text-align: center;">+++<br>
</td>
<td style="vertical-align: top; text-align: center;">+++<br>
</td>
<td style="vertical-align: top; text-align: center;">+++<br>
</td>
</tr>
<tr>
<td style="vertical-align: top; text-align: center;"><span
style="font-weight: bold; color: rgb(51, 204, 0);">+++</span><br>
</td>
<td style="vertical-align: top; text-align: center;">***<br>
</td>
<td style="vertical-align: top; text-align: center;">+++<br>
</td>
<td style="vertical-align: top; text-align: center;">***<br>
</td>
<td style="vertical-align: top; text-align: center;">***<br>
</td>
<td style="vertical-align: top; text-align: center;">***<br>
</td>
<td style="vertical-align: top; text-align: center;">***<br>
</td>
<td style="vertical-align: top; text-align: center;">***<br>
</td>
<td style="vertical-align: top; text-align: center;">***<br>
</td>
</tr>
</tbody>
</table>
<h4 style="text-align: left;">&nbsp;
تشکر بخاطر اطمینان شما به ما</h4>
<br>
</body>
</html>


